<section>announcement bar</section>

{% schema %} 
{
    "name": "Announcement bar",
    "settings": [
        {
            "type": "checkbox",
            "id": "announcement-bar",
            "label": "Show Announcement", 
            "default": true
        }
    ],
    "presets": []
}
{% endschema %}